div.grid {
  width: 100%;
  max-width: 25em;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 50fr 50fr;
  // grid-template-rows: 3em 3em 40em;
  grid-template-areas:
    "restart testing"
    "metrics metrics"
    "tree stack";
  grid-gap: 0.5em 0.5em;
  div.testing {
    grid-area: testing;
    div {
      border: 0.1em solid #333;
      padding: 0.5em 0.5em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .label {
        font-size: 1em;
      }
      .current-value {
        padding-left: 0.2em;
        font-weight: bold;
      }
    }

    div.found {
      background: #333;
      color: white;
    }
  }
  div.restart {
    grid-area: restart;
  }
  div.metrics {
    grid-area: metrics;
    display: flex;
    justify-content: space-between;
  }
  app-stack {
    grid-area: stack;
    overflow: hidden;
  }

  app-tree {
    grid-area: tree;
    overflow: hidden;
  }
}
