<div class="grid" [style.gridTemplateRows]="'3em 3em ' + height">
  <div class="restart">
    <ng-container *ngIf="!searchTree.searching">
      <button *ngIf="firstTime" (click)="start()">Start</button>
      <button *ngIf="!firstTime" (click)="start()">Restart</button>
    </ng-container>
    <ng-container *ngIf="searchTree.searching">
      <button *ngIf="searchTree.interrupted" (click)="start()">Continue</button>
      <button *ngIf="!searchTree.interrupted" (click)="stop()">Stop</button>
    </ng-container>
  </div>
  <div class="testing">
    <div [class.found]="searchTree.found">
      <span class="label" *ngIf="!searchTree.found">Current: </span>
      <span class="label" *ngIf="searchTree.found">Final: </span>
      <span class="current-value">{{
        itemToString(currentValue$ | async)
      }}</span>
    </div>
  </div>
  <div class="metrics">
    <div class="treesize">
      <div>Tree size</div>
      <div>{{ treeSize$ | async }}</div>
    </div>
    <div class="maxstacksize">
      <div>Max stack size</div>
      <div>{{ maxStackSize$ | async }}</div>
    </div>
    <div class="testNbr">
      <div>Test nbr</div>
      <div>{{ testNbr$ | async }}</div>
    </div>
  </div>
  <div class="tree">
    <div>tree:</div>
    <app-tree
      [tree]="tree$ | async"
      [currentTree]="currentValue$ | async"
      [itemToString]="itemToString"
    ></app-tree>
  </div>
  <div class="stack">
    <div>stack:</div>
    <app-stack
      [stack]="stack$ | async"
      [itemToString]="itemToString"
    ></app-stack>
  </div>
</div>
<app-yeah [visible]="searchTree.found"></app-yeah>
<app-yeah [visible]="failCondition()" src="assets/munch.jpg"></app-yeah>
