<div>
  <span>Searching: {{ bfsTree.searching }}</span>
</div>
<div class="grid" [style.gridTemplateRows]="'3em 3em ' + height">
  <div class="restart">
    <ng-container *ngIf="!bfsTree.searching">
      <button *ngIf="firstTime" (click)="start()">Start</button>
      <button *ngIf="!firstTime" (click)="start()">Restart</button>
    </ng-container>
    <ng-container *ngIf="bfsTree.searching">
      <button *ngIf="bfsTree.interrupted" (click)="start()">Continue</button>
      <button *ngIf="!bfsTree.interrupted" (click)="stop()">Stop</button>
    </ng-container>
  </div>
  <div class="testing">
    <div [class.found]="bfsTree.found">
      <span class="label" *ngIf="!bfsTree.found">Current: </span>
      <span class="label" *ngIf="bfsTree.found">Final: </span>
      <span class="current-value">{{
        itemToString(currentValue$ | async)
      }}</span>
    </div>
  </div>
  <div class="metrics">
    <div class="treesize">
      <div>Tree size</div>
      <div>{{ treeSize$ | async }}</div>
    </div>
    <div class="maxstacksize">
      <div>Max stack size</div>
      <div>{{ maxStackSize$ | async }}</div>
    </div>
    <div class="testNbr">
      <div>Test nbr</div>
      <div>{{ testNbr$ | async }}</div>
    </div>
  </div>
  <div>
    <div>tree:</div>
    <app-tree
      [tree]="tree$ | async"
      [currentTree]="currentValue$ | async"
      [itemToString]="itemToString"
    ></app-tree>
  </div>
  <div>
    <div>stack:</div>
    <app-stack
      [stack]="stack$ | async"
      [itemToString]="itemToString"
    ></app-stack>
  </div>
</div>
<app-yeah [visible]="bfsTree.found"></app-yeah>
