<div class="grid" [style.gridTemplateRows]="'3em 3em ' + height">
  <div class="restart">
    <button *ngIf="searching" (click)="stop()">Stop</button>
    <button *ngIf="!searching && firstTime" (click)="start()">Start</button>
    <button *ngIf="!searching && !firstTime" (click)="start()">Restart</button>
  </div>
  <div class="testing">
    <div [class.found]="!finished">
      <span class="label" *ngIf="!finished">Current: </span>
      <span class="label" *ngIf="finished">Final: </span>
      <span class="current-value">{{
        itemToString(currentValue$ | async)
      }}</span>
    </div>
  </div>
  <div class="metrics">
    <div class="treesize">
      <div>Tree size</div>
      <div>{{ treeSize$ | async }}</div>
    </div>
    <div class="maxstacksize">
      <div>Max stack size</div>
      <div>{{ maxStackSize$ | async }}</div>
    </div>
    <div class="testNbr">
      <div>Test nbr</div>
      <div>{{ testNbr$ | async }}</div>
    </div>
  </div>
  <div>
    <div>tree:</div>
    <app-tree
      [tree]="tree$ | async"
      [currentTree]="currentValue$ | async"
      [itemToString]="itemToString"
    ></app-tree>
  </div>
  <div>
    <div>stack:</div>
    <app-stack
      [stack]="stack$ | async"
      [itemToString]="itemToString"
    ></app-stack>
  </div>
</div>
<app-yeah [visible]="finished"></app-yeah>
