<main>
  <h1>Parse a sentence with LLk</h1>
  <app-collapse [content]="description">
    <span>Description</span>
  </app-collapse>
  <ng-template #description>
    <article class="description">
      <h2>CS143 Source</h2>
      <p>
        Outside the scope of CS143, but you can see all the theory in
        <a href="https://dl.acm.org/doi/book/10.5555/578789">
          Aho Ullman - The theory of parsing, translation, and compiling,
          January 1972 Vol 1
        </a>
        Chapter 5.1.
      </p>
      <h2>Description</h2>
      <p>The animation shows a k-predictive algorithm in action (k=2).</p>
      <p>
        We have a context free grammar (CFG) that is LL(2) but not strong LL(2),
        defined as follows:
      </p>
      <code>
        <ul>
          <li>(0) S => a A a a</li>
          <li>(1) S => b A b a</li>
          <li>(2) A => ε</li>
          <li>(3) A => b</li>
        </ul>
      </code>
      <p>We parse the following sentence:</p>
      <code>abaa</code>
      <p>
        M(k,u) represents the next move, computed from the LLk parsing table.
        Its result can be 'pop', 'error', 'accept' or (β, i) where
        <code>β</code> is the pushdown list replacement, and <code>i</code> is
        the production rule index.
      </p>
      <p>
        The outputTape is a representation of the parse tree: it represents the
        leftmost derivation parse tree, computed by applying the production
        indices from the start symbol.
      </p>
    </article>
  </ng-template>
  <app-collapse [content]="config">
    <span>Config</span>
  </app-collapse>
  <ng-template #config>
    <form [formGroup]="f">
      <label>
        <div>Delay</div>
        <input
          type="number"
          formControlName="delay"
          step="100"
          min="0"
          max="10000"
        />
      </label>
    </form>
  </ng-template>

  <app-collapse [content]="anim" [closed]="false">
    <span>Animation</span>
  </app-collapse>
  <ng-template #anim>
    <app-k-predictive-algo
      [algo]="algo"
      [delay]="+f.value.delay"
    ></app-k-predictive-algo>
  </ng-template>
</main>
