<div class="layout">
  <section class="header">
    <header>
      <a routerLink="/">
        <img src="assets/logo.svg" alt="Logo" />
        <span>Visual CS143</span>
      </a>
      <button routerLink="/menu" aria-label="Menu">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </header>
  </section>
  <section class="main">
    <router-outlet></router-outlet>
  </section>
  <section class="footer">
    <footer>
      <a routerLink="/legal">Legal stuff</a>
      <a
        target="_blank"
        href="https://github.com/jlguenego/visual-cs143"
        aria-label="Github Source code"
      >
        <fa-icon size="2x" [icon]="faGithub"></fa-icon>
      </a>
    </footer>
  </section>
</div>
