<div class="layout">
  <section class="header">
    <header>
      <a routerLink="/">
        <span>Visual CS143</span>
      </a>
      <button>Help</button>
    </header>
  </section>
  <section class="main">
    <main class="centered">
      <div class="tagline">
        <p>Visual animations for a better understanding of compilers.</p>
        <a href="form.html">
          <button class="primary" autofocus>Get started</button>
        </a>
      </div>
    </main>
  </section>
  <section class="footer">
    <footer>
      <a routerLink="/legal">Legal stuff</a>
    </footer>
  </section>
</div>
