div.visible {
  z-index: 1;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.5);
  cursor: pointer;
  &[hidden] {
    display: none;
  }
}
img {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 30em;
}
