<main>
  <article>
    <h1>Breadth First Search</h1>
    <h2>CS143 Source</h2>
    <p>
      <a [href]="cs143"> CS143 Top Down Parsing, part I. Slide 11. </a>
    </p>
    <h2>Description</h2>
    <p>
      This animation shows the a very simple breadth first search in action.
    </p>
    <p>We consider a tree of integer values. The root value is 3.</p>
    <p>
      For each tree node, we can compute its children. In this example, the
      <code>getChildren(node)</code> function takes the node value integer N in
      input and returns 3 childrens with value respective N+1, N+2, N+3.
    </p>
  </article>
</main>
