<main>
  <h1>Breadth First Search</h1>
  <app-collapse [content]="description">
    <span>Description</span>
  </app-collapse>
  <ng-template #description>
    <article class="description">
      <h2>CS143 Source</h2>
      <p>
        <a [href]="cs143"> CS143 Top Down Parsing, part I. Slide 10. </a>
      </p>
      <h2>Description</h2>
      <p>
        This animation shows the a very simple breadth first search in action.
      </p>
      <p>We consider a tree of integer values. The root value is 6.</p>
      <p>We look in the tree for a node which value is > 10.</p>
      <p>
        For each tree node, we must be able to compute its children. In this
        example, the getChildren function takes the node value integer N in
        input and returns 2 childrens with value respective N+1, N+2.
      </p>
      <p>
        In this example, when the first node which value strictly greater than
        10 is met, the search stops, and the stack is cleaned.
      </p>
    </article>
  </ng-template>
  <app-collapse [content]="config">
    <span>Config</span>
  </app-collapse>
  <ng-template #config>
    <form [formGroup]="f">
      <label>
        <div>Delay</div>
        <input
          type="number"
          formControlName="delay"
          step="100"
          min="0"
          max="10000"
        />
      </label>
    </form>
  </ng-template>

  <app-collapse [content]="anim" [closed]="false">
    <span>Animation</span>
  </app-collapse>
  <ng-template #anim>
    <app-tree-search
      [delay]="+f.value.delay"
      [searchTree]="bfsTree"
      height="40em"
    ></app-tree-search>
  </ng-template>
</main>
