:host {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-bottom: 1em;
}
div.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em 1em;
  border: 0.1em solid #ccc;
}

div.content {
  background: #eee;
  padding: 0.3em;
  overflow: hidden;
}
