<div class="grid">
  <div class="restart">
    <ng-container *ngIf="!parsing">
      <button *ngIf="firstTime" (click)="start()">Start</button>
      <button *ngIf="!firstTime" (click)="start()">Restart</button>
    </ng-container>
    <ng-container *ngIf="parsing">
      <button *ngIf="interrupted" (click)="start()">Continue</button>
      <button *ngIf="!interrupted" (click)="stop()">Stop</button>
    </ng-container>
  </div>
  <div class="result">
    <span>
      M(k,u) =
      {{ nextMove() }}
    </span>
  </div>
  <div class="inputTape">
    <span>inputTape</span>
    <div
      class="box"
      *ngFor="let t of algo?.inputTape; let i = index"
      [class.selected]="i === algo?.inputTapeCursor"
    >
      {{ t.name }}
    </div>
  </div>
  <div class="pushdownList">
    <span>pushdownList</span>
    <div
      class="box"
      *ngFor="let s of algo?.pushdownList; let i = index"
      [class.selected]="i === 0"
    >
      {{ symbolToString(s) }}
    </div>
  </div>
  <div class="outputTape">
    <span>outputTape</span>
    <div class="box" *ngFor="let prodIndex of algo?.outputTape">
      {{ prodIndex }}
    </div>
  </div>
</div>
