.tree {
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  background: hsla(0, 0%, 50%, 0.1);
  align-items: flex-start;
  padding-bottom: 0.1em;
  > span {
    margin: 0.1em;
    padding: 0.1em;
  }
  > .children {
    font-size: 0.95em;
    display: flex;
    flex-flow: column;
    margin-left: 1em;
  }
}

.current {
  background-color: black;
  color: white;
}
